h2 {
  margin: 1rem;
}

img {
  width: 200px;
  height: 180px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}

.card {
  margin: 1rem;
  text-align: center;
}
